In [0]:
import pandas as pd
from google.colab import files
import io

from google.colab import drive
drive.mount('/content/gdrive')
#uploaded = files.upload()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
path = '/content/gdrive/My Drive/'
!ls '/content/gdrive/My Drive/training_data_categories/tech'

001.txt  046.txt  091.txt  136.txt  181.txt  226.txt  271.txt  316.txt	361.txt
002.txt  047.txt  092.txt  137.txt  182.txt  227.txt  272.txt  317.txt	362.txt
003.txt  048.txt  093.txt  138.txt  183.txt  228.txt  273.txt  318.txt	363.txt
004.txt  049.txt  094.txt  139.txt  184.txt  229.txt  274.txt  319.txt	364.txt
005.txt  050.txt  095.txt  140.txt  185.txt  230.txt  275.txt  320.txt	365.txt
006.txt  051.txt  096.txt  141.txt  186.txt  231.txt  276.txt  321.txt	366.txt
007.txt  052.txt  097.txt  142.txt  187.txt  232.txt  277.txt  322.txt	367.txt
008.txt  053.txt  098.txt  143.txt  188.txt  233.txt  278.txt  323.txt	368.txt
009.txt  054.txt  099.txt  144.txt  189.txt  234.txt  279.txt  324.txt	369.txt
010.txt  055.txt  100.txt  145.txt  190.txt  235.txt  280.txt  325.txt	370.txt
011.txt  056.txt  101.txt  146.txt  191.txt  236.txt  281.txt  326.txt	371.txt
012.txt  057.txt  102.txt  147.txt  192.txt  237.txt  282.txt  327.txt	372.txt
013.txt  058.txt  103.txt  148.txt  193.txt  238.txt  283.txt  328.txt	373.txt
014.txt  059.txt  104.txt  149.txt  194.txt  239.txt  284.txt  329.txt	374.txt
015.txt  060.txt  105.txt  150.txt  195.txt  240.txt  285.txt  330.txt	375.txt
016.txt  061.txt  106.txt  151.txt  196.txt  241.txt  286.txt  331.txt	376.txt
017.txt  062.txt  107.txt  152.txt  197.txt  242.txt  287.txt  332.txt	377.txt
018.txt  063.txt  108.txt  153.txt  198.txt  243.txt  288.txt  333.txt	378.txt
019.txt  064.txt  109.txt  154.txt  199.txt  244.txt  289.txt  334.txt	379.txt
020.txt  065.txt  110.txt  155.txt  200.txt  245.txt  290.txt  335.txt	380.txt
021.txt  066.txt  111.txt  156.txt  201.txt  246.txt  291.txt  336.txt	381.txt
022.txt  067.txt  112.txt  157.txt  202.txt  247.txt  292.txt  337.txt	382.txt
023.txt  068.txt  113.txt  158.txt  203.txt  248.txt  293.txt  338.txt	383.txt
024.txt  069.txt  114.txt  159.txt  204.txt  249.txt  294.txt  339.txt	384.txt
025.txt  070.txt  115.txt  160.txt  205.txt  250.txt  295.txt  340.txt	385.txt
026.txt  071.txt  116.txt  161.txt  206.txt  251.txt  296.txt  341.txt	386.txt
027.txt  072.txt  117.txt  162.txt  207.txt  252.txt  297.txt  342.txt	387.txt
028.txt  073.txt  118.txt  163.txt  208.txt  253.txt  298.txt  343.txt	388.txt
029.txt  074.txt  119.txt  164.txt  209.txt  254.txt  299.txt  344.txt	389.txt
030.txt  075.txt  120.txt  165.txt  210.txt  255.txt  300.txt  345.txt	390.txt
031.txt  076.txt  121.txt  166.txt  211.txt  256.txt  301.txt  346.txt	391.txt
032.txt  077.txt  122.txt  167.txt  212.txt  257.txt  302.txt  347.txt	392.txt
033.txt  078.txt  123.txt  168.txt  213.txt  258.txt  303.txt  348.txt	393.txt
034.txt  079.txt  124.txt  169.txt  214.txt  259.txt  304.txt  349.txt	394.txt
035.txt  080.txt  125.txt  170.txt  215.txt  260.txt  305.txt  350.txt	395.txt
036.txt  081.txt  126.txt  171.txt  216.txt  261.txt  306.txt  351.txt	396.txt
037.txt  082.txt  127.txt  172.txt  217.txt  262.txt  307.txt  352.txt	397.txt
038.txt  083.txt  128.txt  173.txt  218.txt  263.txt  308.txt  353.txt	398.txt
039.txt  084.txt  129.txt  174.txt  219.txt  264.txt  309.txt  354.txt	399.txt
040.txt  085.txt  130.txt  175.txt  220.txt  265.txt  310.txt  355.txt	400.txt
041.txt  086.txt  131.txt  176.txt  221.txt  266.txt  311.txt  356.txt	401.txt
042.txt  087.txt  132.txt  177.txt  222.txt  267.txt  312.txt  357.txt
043.txt  088.txt  133.txt  178.txt  223.txt  268.txt  313.txt  358.txt
044.txt  089.txt  134.txt  179.txt  224.txt  269.txt  314.txt  359.txt
045.txt  090.txt  135.txt  180.txt  225.txt  270.txt  315.txt  360.txt

In [0]:
import os
'''
tech = pd.DataFrame()


directories = ['tech', 'sport', 'politics', 'entertainment', 'business']
#directories = ['tech']

def gather_data(target_dir, name):
    category_name = name + '_data'
    
    articles = pd.DataFrame()
    
    for file_ in os.listdir(target_dir)[:20]:
        with open(target_dir + "/"+ file_) as f:
            textf = " ".join(line.strip() for line in f)
        articles = pd.concat([articles,pd.DataFrame(data = {name : [textf]})])
    return articles

for name in directories:
  
  directory_path = '/content/gdrive/My Drive/training_data_categories/'+name+'/'
  #print(directory)
  directory = gather_data(directory_path, name)
  print("DIR", directory)

'''
tech_dir = '/content/gdrive/My Drive/training_data_categories/tech/'
sports_dir = '/content/gdrive/My Drive/training_data_categories/sport/'
politics_dir = '/content/gdrive/My Drive/training_data_categories/politics/'
entertainment_dir = '/content/gdrive/My Drive/training_data_categories/entertainment/'
business_dir = '/content/gdrive/My Drive/training_data_categories/business/'

directories = ['tech', 'sport', 'politics', 'entertainment', 'business']

def gather_data(target_dir, name):
    tech_data = pd.DataFrame()
    for file_ in os.listdir(target_dir):
        try:
          with open(target_dir + "/"+ file_) as f:
              textf = " ".join(line.strip() for line in f)
          tech_data = pd.concat([tech_data,pd.DataFrame(data = {'text' : [textf]})])
        except Exception:
          continue
    return tech_data
tech = gather_data(tech_dir, 'tech')
sports = gather_data(sports_dir, 'sports')
politics = gather_data(politics_dir, 'politics')
entertainment = gather_data(entertainment_dir, 'entertainment')
business = gather_data(business_dir, 'business')

In [0]:
sports.shape

(510, 1)

In [0]:
business.head()

                                                text
0  WorldCom director admits lying  The former chi...
0  Turkey-Iran mobile deal 'at risk'  Turkey's in...
0  Ebbers denies WorldCom fraud  Former WorldCom ...
0  Parmalat to return to stockmarket  Parmalat, t...
0  UK economy facing 'major risks'  The UK manufa...

In [0]:
tech['label'] = 'tech'
sports['label'] = 'sports'
politics['label'] = 'politics'
entertainment['label'] = 'entertainment'
business['label'] = 'business'

In [0]:
tech.head()

                                                text label
0  Broadband steams ahead in the US  More and mor...  tech
0  Mobiles rack up 20 years of use  Mobile phones...  tech
0  EA to take on film and TV giants  Video game g...  tech
0  Microsoft releases patches  Microsoft has warn...  tech
0  Sony PSP console hits US in March  US gamers w...  tech

In [0]:
tech.reset_index(drop=True, inplace=True)
sports.reset_index(drop=True, inplace=True)
politics.reset_index(drop=True, inplace=True)
entertainment.reset_index(drop=True, inplace=True)
business.reset_index(drop=True, inplace=True)

data = pd.concat([tech, sports, politics, entertainment, business], axis=0)

In [0]:
data.head(500)

                                                 text   label
0   Broadband steams ahead in the US  More and mor...    tech
1   Mobiles rack up 20 years of use  Mobile phones...    tech
2   EA to take on film and TV giants  Video game g...    tech
3   Microsoft releases patches  Microsoft has warn...    tech
4   Sony PSP console hits US in March  US gamers w...    tech
..                                                ...     ...
94  Robertson out to retain Euro lure  Hearts mana...  sports
95  Safin relieved at Aussie recovery  Marat Safin...  sports
96  European medal chances improve  What have the ...  sports
97  Tomlinson stays focused on Europe  Long jumper...  sports
98  Wales critical of clumsy Grewcock  Wales coach...  sports

[500 rows x 2 columns]

In [0]:
data.isnull().sum()

text     0
label    0
dtype: int64

In [0]:
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

In [0]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data['text'], data['label'],test_size=0.3)

In [0]:
Encoder = LabelEncoder()
y_train = Encoder.fit_transform(y_train)
y_test = Encoder.fit_transform(y_test)

In [0]:
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(data['text'])
Train_X_Tfidf = Tfidf_vect.transform(x_train)
Test_X_Tfidf = Tfidf_vect.transform(x_test)

In [0]:
# fit the training dataset on the NB classifier
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X_Tfidf,y_train)
# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, y_test)*100)

Naive Bayes Accuracy Score ->  96.7065868263473

In [0]:
text=["rockets, science, physics, windows"]
testing = Tfidf_vect.transform(text)
Naive.predict(testing)

array([4])

In [0]:
import pickle
# save the model to disk
filename = 'categorizer_model.sav'

In [0]:
pickled = pickle.dump(Naive, open(filename, 'wb'))

In [0]:
files.download(filename)

In [0]:
pkl_filename = "pickle_model.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(Naive, file)

In [0]:
files.download(pkl_filename)

In [0]:
data.to_csv('train_test.csv')
files.download('train_test.csv')

In [0]:
pkl_filename = "Tfidf_vect.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(Tfidf_vect, file)

In [0]:
files.download(pkl_filename)

In [0]:
pkl_filename2 = "vocabulary.pkl"
with open(pkl_filename2, 'wb') as file:
    pickle.dump(Tfidf_vect.vocabulary_, file)

In [0]:
files.download(pkl_filename2)